/* global styles */

:root {
    --main-tx-color: #fff;
    --emphasis: #FAD30F;
    --notion-yellow: #dfab01;
    --notion-orange: #d9730d;
    --red-color: #ee1400;
    --main-bg-color: #333;
    --eire-black: #121616;
    --charleston-black: #252D2D;
    --rgba-charleston-black: rgba(37, 45, 45, .6);
}

body {
    box-sizing: border-box;
}

.main--content {
    background-color: var(--eire-black);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5%;
}

.main--pic {
    margin-top: 10%;
    max-height: 23rem;
    padding: 10%;
    border-radius: 20em;
}

.main--title,
.skills-title,
.work-process--title {
    padding-left: 10%;
    font-size: 2.2em;
    font-weight: 1500;
}

.main--description,
.skills-description {
    padding-left: 10%;
    margin-top: 7%;
    line-height: 1.8em;
}

.work-process {
    margin-bottom: 1em;
    padding: 10%;
    /*  background: var(--charleston-black) */
}

.work-process-cards {
    display: flex;
    flex-direction: column;
}

.work-process-card {
    background: var(--rgba-charleston-black);
    /* opacity: .7; */
    color: var(--main-tx-color);
    border-radius: 10px;
    padding: 5%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.work-process-img {
    height: 2.5em;
}

.skills {
    background: var(--charleston-black);
    padding: 10%;
}

.footer {
    padding-left: 10%;
}


/* medium smartphones */

@media (min-width: 375px) {
    .main--pic {
        max-height: 29rem;
    }
}


/* tablets */

@media (min-width: 768px) {
    .main--content {
        flex-direction: row;
    }
    .main--pic {
        margin-top: 5%;
        padding: .5%;
    }
    .main__colummn {
        display: flex;
        flex-direction: column;
    }
    .main--title {
        margin-top: 8%;
        margin-bottom: 3%;
        padding-left: 1em;
        width: 70%;
    }
    .main--description {
        margin-top: 1%;
    }
    .work-process {
        margin-bottom: 0;
        padding-bottom: 5%;
    }
    .work-process--cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .work-process-card {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;
    }
    .skills {
        min-height: 35vh;
        padding: 1.5em .5em;
    }
    .skills-title {
        margin-top: .5em;
    }
    .skills-description {
        margin-top: 2.5%;
    }
    /* 
    */
}


/* laptops */

@media (min-width: 1024px) {
    .main--title {
        margin-left: 6%;
    }
    .work-process {
        margin-top: 0;
        padding-top: 2em;
    }
    .work-process--title {
        padding-left: .3em;
    }
    .work-process-card {
        width: 32%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;
        padding: 2em;
    }
    .skills {
        align-items: center;
    }
    .skills-title {
        margin-top: 1em;
    }
}


/* Laptop L */

@media (min-width: 1440px) {
    .work-process-card {
        width: 30%;
    }
    .work-process {
        margin-bottom: 1em;
        margin-top: 1em;
        padding-bottom: 1em;
        padding-top: 2em;
    }
}