/* global styles */

:root {
    --main-tx-color: #fff;
    --emphasis: #FAD30F;
    --notion-yellow: #dfab01;
    --notion-orange: #d9730d;
    --red-color: #ee1400;
    --main-bg-color: #333;
    --eire-black: #121616;
    --charleston-black: #252D2D;
}

@font-face {
    font-family: Anybody-Regular;
    src: url("/fonts/Anybody/Anybody-VariableFont_wdth\,wght.ttf");
    font-weight: normal;
}

html {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-family: 'Anybody-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /*   overflow: hidden; */
    color: var(--main-tx-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rounded-md {
    border-radius: .375rem;
}

.orange-yellow-gradient {
    background: linear-gradient(to right, var(--notion-orange), var(--emphasis));
}

.text--orange--yellow--gradient {
    background: -webkit-linear-gradient(var(--notion-orange), var(--emphasis));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    /* para que el menú se mantenga fijado durante el scroll */
    position: fixed;
    padding: 0 20px;
    background-color: var(--main-bg-color);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-tx-color);
    transform: rotate(0deg) !important;
    z-index: 10000 !important;
}

.navbar {
    display: none;
    background-color: var(--main-bg-color);
    transform: rotate(0deg);
}

.navbar__links {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: rotate(0deg);
}

.navbar__link,
.footer__link {
    text-decoration: none;
    color: var(--main-tx-color);
    transform: rotate(0deg);
}

.navbar__item {
    padding: 5px;
    margin-left: 10px;
    list-style: none;
    transform: rotate(0deg);
}

.navbar__item:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hamburger--icon {
    margin: auto 0;
    display: block;
    cursor: pointer;
}

#hamburger--icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile--menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: rotate(0deg);
}

.mobile--menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    height: auto;
    width: 100%;
    background-color: var(--main-bg-color);
    transform: rotate(0deg);
}

.mobile--menu li {
    margin-bottom: 10px;
    transform: rotate(0deg);
}

#hero--canvas {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0%;
    /* position: absolute;
    z-index: -999; */
}

#hero--section {
    position: absolute;
    z-index: 0;
    top: 13rem;
    margin: 5%;
    line-height: 350%;
    max-height: 100vh;
}

.hero--title {
    font-size: 2em;
    font-weight: 600;
    margin-top: 2%;
    font-family: 'Anybody', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.typewrite {
    background: -webkit-linear-gradient(var(--emphasis), #fb923c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1em;
    font-weight: bold;
    z-index: -100;
}

#canvas--cursor__effect {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    display: none;
}

.footer {
    position: relative;
    max-width: 100vw;
    transform: rotate(0deg) !important;
    z-index: 100000 !important;
}

.footer--content {
    /* display: flex; */
    /*  height: 100vh;
    position: relative; */
    font-size: 1em;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 1em 1em;
    background-color: var(--main-bg-color);
    /*     transform: rotate(0deg) !important;
    z-index: 10000 !important; */
}

.footer--main-text {
    background: var(--eire-black);
    padding: 1.1em;
    border-radius: 2%;
}

.footer--text {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
}

.footer--description {
    font-size: .9em;
    text-align: center;
    margin: 1.6em 0;
    line-height: 1.5rem;
    /* line-height: 3rem; */
}


/* .footer--btn {
    transform: rotate(0deg) !important;
    z-index: 9999 !important;
} */

.footer--btn__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 2rem;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0 none;
    color: var(--main-tx-color);
    font-weight: bold;
    opacity: 1;
    text-decoration: none;
    transform: rotate(0deg) !important;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__menu:after {
    content: "";
    display: table;
    clear: both;
}

.footer__item {
    list-style: none;
    padding: 15px 5px;
    float: left;
    width: 40%;
}

.footer__bottom {
    text-align: center;
    padding-top: 10px;
}


/* medium smartphones */

@media (min-width: 375px) {
    .footer__item {
        width: 47%;
    }
    .footer--btn__contact {
        line-height: 1.5rem;
    }
}


/* tablets */

@media (min-width: 768px) {
    .footer--btn__contact {
        padding: 1%;
        font-size: 1rem;
        line-height: 2rem;
        max-width: 60%;
        margin-bottom: 1rem;
    }
    .footer__item {
        width: 30%;
    }
}


/* laptops */

@media (min-width: 1024px) {
    .header {
        justify-content: center;
    }
    .navbar {
        display: contents;
    }
    #hamburger--icon {
        display: none;
    }
    .navbar__item:hover {
        background: linear-gradient(to right, var(--notion-orange), var(--emphasis));
        padding: 1em 1.2em;
        /* background-color: #d9730d; */
    }
    #hero--section {
        margin-top: auto;
        margin-bottom: auto;
    }
    .hero--title {
        margin-top: 16%;
        font-size: 3em;
        width: 700px;
    }
    .footer--main-text {
        margin-bottom: 5%;
        margin-left: 2em;
        margin-right: 2em;
    }
    .footer--text {
        font-size: 1.5rem;
    }
    .footer--btn__contact {
        margin-top: 1rem;
        max-width: 35%
    }
    /* .footer--btn__contact:hover {
        font-size: 2em;
    } */
    .footer__item {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
    }
}


/* Laptop L */

@media (min-width: 1440px) {
    .hero--title {
        min-width: 800px;
    }
    .footer--main-text {
        margin: 1em 8%;
    }
    .footer--btn__contact {
        padding: .5%;
    }
    .footer__links {
        padding: .8em 7%;
    }
    .footer__bottom {
        margin: 1em 0;
    }
}


/* @media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }
    #hamburger--icon {
        display: block;
    }